<!-- TODO: ADD BOOTSTRAP -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>My Website</title>
    <link rel="stylesheet" href="./style.css">
    <link rel="icon" href="./favicon.ico" type="image/x-icon">
  </head>
  <body>
    <main>
      <nav>
        <a href="">Sign up</a>
        <a href="">Login</a>
      </nav>
    </main>
    <div>
      <h2>Products</h2>
      {% for product in products %}
        <div>
         <a href="">
          <div>
            <img src="{{ product.image.url }}" alt="">
          </div>
          <div>
            <h2>{{ product.name }}</h2>
            <p>Price: {{ product.price }}</p>
          </div>
        </a> 
        </div>
      {% endfor %}
    </div>

    <div>
      <h2>Categories</h2>
      {% for category in categories %}
          <div>
            <h2>{{ category.name }}</h2>
            <p>{{ category.product.count }} products</p>
          </div>
      {% endfor %}
      </div>
  </body>
</html>
