
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sign up</title>
  </head>
  <body>
    <div>
      <h1>Sign up</h1>
      <form method="POST" action=".">
        {% csrf_token %}
        {{ form.non_field_errors }}

        <div>
          <label for="">username</label><br>
          {{ form.username }}
        </div>

        <div>
          <label for="">email</label><br>
          {{ form.email }}
        </div>

        <div>
          <label for="">password</label><br>
          {{ form.password1 }}
        </div>

        <div>
          <label for="">repeat password</label><br>
          {{ form.password2 }}
        </div>


        <button type="">Submit</button>

      </form>
    </div>

  </body>
</html>
