<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>e-commerce</title>
  </head>
  <body>
    <div>
      <h1>{{ product.name }}</h1>
      <p>Price: {{ product.price }}</p>
    </div>
    <div>
      {% if product.image %}
      <img src="{{ product.image.url }}" alt="">
      {% endif %}
    </div>

    <div>
      <h2>Description:</h2>
      <p>{{ product.description }}</p>
      <h3>Seller:</h3>
      <p>{{ product.created_by }}</p>
    </div>
       <a href="{% url 'conversation:new' product.id %}">Contact Seller</a>
  </body>
</html>
