{% extends 'base.html' %}

{% block title %}Welcome{% endblock %}

{% block content %}
    <div class="my-4 py-5 ">
      <h1 class="text-center my-2">{{ product.name }}</h1>
      {% if product.image %}
      <div class="my-3 text-center">
        <img src="{{ product.image.url }}" alt="">
      </div>
      {% endif %}
    </div>

<div class="d-flex">
  
    <div class="border border-dark mx-5 my-2 w-50">
      <h2 class="">Description:</h2>
      <p>{{ product.description }}</p>
    </div>
      <!-- <p class="mx-5 w-50">Price: {{ product.price }}</p> -->

  <div class="text-end mx-5 my-4 w-50">
    <h3 class="py-2">Seller: {{ product.created_by  }}</h3>
    <div class="">
       <a href="{% url 'conversation:new' product.id %}", class="btn btn-info mx-4">Contact Seller</a>
    </div>
  </div>
</div>
{% endblock %}
