{% extends 'base.html' %}

{% block title %}Welcome{% endblock %}

{% block content %}
    <form method="post", action="." enctype="multipart/form-data" class="my-5 py-2">
  <h2 class="py-4 text-center w-50">Sell your product</h1>
      {% csrf_token %}

      <div class="px-">
        {{ form.as_p }}
      </div>
        {% if form.errors or form.non_field_errors %}
        <div >
            {% for field in form %}
                {{ field.errors }}
            {% endfor %}

            {{ form.non_field_errors }}
            </div>
        {% endif %}

    <div class="text-center w-25">
      
      <button type="" class="btn btn-primary">Submit</button>

    </div>
    </form>

{% endblock %}
